.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    row-gap: 18px;
    column-gap: 10px;

    &--search-filter{
        justify-content: flex-start;
        gap: 18px;
    }
}


.result-container{
   width: 100%;
   display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-bottom: 18px;
    row-gap: 18px;
    column-gap: 3.5%;
}