@import "./components/buttons";
@import "./components/card";
@import "./layout/sections";
@import "./layout/container";
@import "./components/dropdown";
@import "./components/filter";


body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}


.header {
    display: flex;
    justify-content: center;
    margin-top: 42px;
    margin-bottom: 17px;
}

.logo {
    height: 93px;
    width: 268px;
}

.hide {
    display: none;
}









