.card {
    background-color: #E7E7E7;
    width: 31%;
    height: 364px;
    border-radius: 5px;
    overflow: hidden;
    &__image{
        background-color: #C7BEBE;
        height: 180px;
        width: 100%;
    }

    &__content {
        padding: 20px;
        height: 184px;
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 20px;
            &__title{
                margin: 0;
                font-size: inherit;
            }
            &__duration{
                width: 150px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                column-gap: 10px;
            }
        }
        &__main{
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            &__ingredients{
                width: 50%;
                font-size: inherit;
            }
            &__directions{
                line-height: 1;
                width: 50%;
                overflow: hidden;
                position: relative;
                max-height: 109px;
                text-align: justify;
                margin-right: -1em;
                padding-right: 1em;
            }
            }
            

    }

    .ingredient-list{
        list-style-type: none;
        padding: 0;
        line-height: 1;
        &__item{
            width: 100%;
            display: inline-flex;
            justify-content: flex-start;
            &__name{
                font-weight: 700;
                margin: 0;
            }
            &__quantity{
                margin: 0;
            }
        }
    }



}